*
{
    margin: 0;
    padding: 0;
}
.para
{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 15px;
    letter-spacing: 5px;

}
.header
{
    background-color: dimgray;
    height: 10vh;
    text-align: center;
}
.section
{
    background-color: black;
    height: 80vh;
}
.paragraph
{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 50px;
}